.modal-container{
    .modal-title{
        text-align: center;
        color: #364A63;
    }
}
.chip
{
    background-color: #97cbad !important;
          color: #ffffff !important;
          border-radius: 10px;
}
