<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" class="user-profile mt-5 mb-3">

  <div class="user-profile_img"
    [ngClass]="{'small-img':!(isExpanded$|async)&& !(isHover$|async),'':!(isExpanded$|async) && (isHover$|async)}">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL_IbRQvlVj5_heS6MBUBdPrmF7MUJdswsAw&usqp=CAU"
      alt="">
    <span class="user-profile_img_state _success-bg-color"></span>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="(isExpanded$|async) || (isHover$|async)">
    <p>مهدی بهزاد</p>
    <span>کارشناس نرم افزار</span>
  </div>
</div>

<div class="mt-5 make-overflow-y sidebar-items"
  [ngClass]="{'closed-menu' : !(isExpanded$|async)&& !(isHover$|async),'':!(isExpanded$|async) && (isHover$|async)}">
  <cdk-accordion class="sidebar-accordion">
    <!-- تعاریف اولیه -->
    <cdk-accordion-item fxLayout="column" class="py-1 sidebar-cdk-accordion-item  "
      [routerLinkActive]="['active-accordion-item']" #initDefinition="cdkAccordionItem">
      <div class="sidebar-accordion-item-header" fxLayout fxLayoutAlign="start center" (click)="initDefinition.toggle()"
        fxLayoutGap="10px">
        <img src="../../../../../assets/icon/_panel/_sidenave/peye.png" alt="" width="16">
        <span *ngIf="(isExpanded$|async) || (isHover$|async)">تعاریف پایه</span>

        <i class="icon-20px" *ngIf="(isExpanded$|async) || (isHover$|async)"
          [ngClass]="initDefinition.expanded  ? 'icon-chevron-up' : 'icon-chevron-down' "></i>
      </div>
      <!-- >معرفی انواع استخدام -->

      <div class="sidebar-accordion-item-body " [style.display]="initDefinition.expanded ? '' : 'none' ">
        <mat-nav-list>
          <mat-list-item [ngClass]="{'no-padding' : !(isExpanded$|async) || (isHover$|async)}">

            <a fxLayout fxLayoutAlign="start center" class="sidenav-link" [routerLink]="['/panel/device/devices']"
              routerLinkActive="router-link-active">
              <h4 class="mat-body" mat-line *ngIf="(isExpanded$|async) || (isHover$|async)">معرفی نوع استخدام</h4>
            </a>
          </mat-list-item>
          <mat-list-item [ngClass]="{'no-padding' : !(isExpanded$|async) || (isHover$|async)}">

            <a fxLayout fxLayoutAlign="start center" class="sidenav-link" [routerLink]="['/panel/device/devices']"
              routerLinkActive="router-link-active">
              <h4 class="mat-body" mat-line *ngIf="(isExpanded$|async) || (isHover$|async)">معرفی ساختمان و سلف و دستگاه</h4>
            </a>
          </mat-list-item>
          <mat-list-item [ngClass]="{'no-padding' : !(isExpanded$|async) || (isHover$|async)}">

            <a fxLayout fxLayoutAlign="start center" class="sidenav-link" [routerLink]="['/panel/basic/meal']"
              routerLinkActive="router-link-active">
              <h4 class="mat-body" mat-line *ngIf="(isExpanded$|async) || (isHover$|async)">معرفی وعده</h4>
            </a>
          </mat-list-item>

        </mat-nav-list>
      </div>
    </cdk-accordion-item>

  </cdk-accordion>
</div>
