
<mat-sidenav-container autosize="">

  <!-- Toolbar & container part -->
  <mat-sidenav-content>
    <panel-toolbar></panel-toolbar>
    <!-- Main Content -->
    <div class="main-container">
      <div class="pb-2 px-2 mb-2" fxLayout="row" fxLayoutAlign="space-between" style="font-size: 0.8rem; margin-top:8px;">

        <span class="title">{{componentTitle}}</span>

        <xng-breadcrumb> </xng-breadcrumb>

      </div>
      <div>
        <button mat-raised-button >Primary</button>
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- Main Content -->
  </mat-sidenav-content>

  <!-- Sidenave -->
  <mat-sidenav #sidenav mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <panel-sidenav></panel-sidenav>
  </mat-sidenav>


</mat-sidenav-container>
