<div fxLayout>
  <mat-card class="meal-list position-relative container-height" fxFlex="100%">
    <div fxLayout="column" fxFill fxFlex="100%">
      <!-- menu -->
      <div class="meal-list_header" fxLayout="row" fxLayoutAlign="space-between">
        <div class="meal-list_header_main-btn" fxLayout="row">
          <button mat-raised-button color="primary" class="ms-2" (click)="addNewMeal()">
            <i class="icon-plus-square icon-20px _white-color ms-1"></i>
            <span>وعده جدید</span>
          </button>
        </div>
        <div>
          <button mat-icon-button >
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
      <!-- Data Table -->
      <meal-list-table ></meal-list-table>
      <!-- Data Table -->
    </div>
  </mat-card>
</div>
